/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color:rgb(243, 240, 235) ;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header start  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-right: 15px;
}
/* header end  */

/* menu start  */
/* influencer start  */
.container{
    display: flex;
}
.influencer-body{
    width: 582px;
    height: 270px;
}
button{
    color: #FFFFFF;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
}
.camera-img img{
    width: 440px;
    height: 260px;
}
/* influencer end  */
    hr{
        width: 1000px;
        margin-bottom: 35px;
}
/* popular collection start  */
.section-title{
    font-size: 24px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
}
.collection{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
}
.collection .collection-banner img{
    width: 224px;
    height: 104px;
    padding: 5px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
 /*popular collection end */

 /* see button start  */
.see-button{
    text-decoration: none;
    color: #E02C6D;
    margin-left: 900px;
}
    /* see button end  */
/* menu end  */

/* influence end start  */

.influence-end{
    margin-left: 80px;
}
.influence-end-img img{
    width: 450px;
    height: 180px;
    margin-right: 110px;
}
 /* influence-end end  */

/* footer start  */
footer{
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    text-align: center;
}
/* footer end  */

/* ..................
Media Queries ......
....................*/

/* Mobile Devices */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .collections{
        grid-template-columns: repeat(1, 1fr);
    }
    .influencer-body, .camera-img, .influence-end, .influence-end-img{
        flex-direction: column;
    }  
}

/* tablet devices */

@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .collections{
        grid-template-columns: repeat(2, 1fr);
    }
}